# Eclipse Directories and Files
.project
.classpath
.springBeans
/.settings

# Generated Directories and Files
/target

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
